
    :root {
        --dark-color: hsl(var(--hue), 100%, 9%);
        --light-color: hsl(var(--hue), 95%, 98%);
        --base: hsl(var(--hue), 95%, 50%);
        --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
        --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);
      
        --font-family: "Poppins", system-ui;
      
        --bg-gradient: linear-gradient(
          to bottom,
          hsl(var(--hue), 95%, 99%),
          hsl(var(--hue), 95%, 84%)
        );
      }
      
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      body {
        max-width: 1920px;
        min-height: 100vh;
        display: grid;
        place-items: center;
        padding: 2rem;
        font-family: var(--font-family);
        color: var(--dark-color);
        background: url("bg.jpg");
        background-size: cover;
        background-position: 62% 30% ;
        color: #224B5C;
      
      }
      
      .orb-canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
        text-align: center;
        align-items: center;
        
      }
      .link {
        margin-top: -1rem;
        text-align: center;
        align-items: center;
        font-family: 'Fredoka One', sans-serif;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both 2s;
      
      }
      
      strong {
        font-weight: 600;
      }
      
      .overlay {
        width: 100%;
        max-width: 380px;
        max-height: 540px;
        padding: 8rem 6rem;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.603);
        box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
        border-radius: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.125);
        animation: flip-in-diag-2-br 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        justify-content: center;
      }
      @keyframes flip-in-diag-2-br {
        0% {
          -webkit-transform: rotate3d(-1, 1, 0, -80deg);
                  transform: rotate3d(-1, 1, 0, -80deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotate3d(1, 1, 0, 0deg);
                  transform: rotate3d(1, 1, 0, 0deg);
          opacity: 1;
        }
      }
      @keyframes swing-in-top-fwd {
        0% {
          -webkit-transform: rotateX(-100deg);
                  transform: rotateX(-100deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0deg);
                  transform: rotateX(0deg);
          -webkit-transform-origin: top;
                  transform-origin: top;
          opacity: 1;
        }
      }
      @keyframes wobble-hor-bottom {
        0%,
        100% {
          -webkit-transform: translateX(0%);
                  transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
        }
        15% {
          -webkit-transform: translateX(-20px) rotate(-6deg);
                  transform: translateX(-20px) rotate(-6deg);
        }
        30% {
          -webkit-transform: translateX(15px) rotate(6deg);
                  transform: translateX(15px) rotate(6deg);
        }
        45% {
          -webkit-transform: translateX(-15px) rotate(-3.6deg);
                  transform: translateX(-15px) rotate(-3.6deg);
        }
        60% {
          -webkit-transform: translateX(9px) rotate(2.4deg);
                  transform: translateX(9px) rotate(2.4deg);
        }
        75% {
          -webkit-transform: translateX(-6px) rotate(-1.2deg);
                  transform: translateX(-6px) rotate(-1.2deg);
        }
      }
      .overlay__inner {
        max-width: 36rem;
      }
      
      .overlay__title {
        font-size: 1.875rem;
        line-height: 2.75rem;
        font-weight: 700;
        letter-spacing: -0.025em;
        margin-bottom: 2rem;
        text-align: center;
        align-items: center;
        font-family: 'Josefin sans', sans-serif;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both 1.2s;
      }
      
      .text-gradient {
        background-image: linear-gradient(
          45deg,
          var(--base) 25%,
          var(--complimentary2)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }
      
      .overlay__description {
      font-family: 'Josefin sans', sans-serif;
        font-size: 0.95rem;
        line-height: 1.75rem;
        margin-bottom: 2rem;
        margin-top: -1rem;
        font-weight: 100;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both 1.5s;
        text-align: center;
        width: max-content;
      }
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      
      @keyframes tracking-in-expand {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      
      .overlay__btns {
        width: 100%;
        max-width: 30rem;
        display: flex;
      }
      
      .overlay__btn {
        width: 50%;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.875rem;
        font-weight: 600;
        color: var(--light-color);
        background: var(--dark-color);
        border: none;
        border-radius: 0.5rem;
        transition: transform 150ms ease;
        outline-color: hsl(var(--hue), 95%, 50%);
      }
      
      .overlay__btn:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
      
      .overlay__btn--transparent {
        background: transparent;
        color: var(--dark-color);
        border: 2px solid var(--dark-color);
        border-width: 2px;
        margin-right: 0.75rem;
      }
      
      .overlay__btn-emoji {
        margin-left: 0.375rem;
      }
      
      a {
        text-decoration: none;
        color: var(--dark-color);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      /* Not too many browser support this yet but it's good to add! */
      @media (prefers-contrast: high) {
        .orb-canvas {
          display: none;
        }
      }
      
      @media only screen and (max-width: 1540px) {
        .overlay {
          padding: 8rem 4rem;
        }
        .header__icon-box img {
      transform: scale(0.7);
      }
      }
      
      @media only screen and (max-width: 840px) {
        body {
          padding: 1.5rem;
        }
      
        .overlay {
          padding: 4rem;
          height: auto;
          align-items: center;
          justify-content: center;
        }
      
        .overlay__title {
          font-size: 1.25rem;
          line-height: 2rem;
          margin-bottom: 1.5rem;
        }
      
        .overlay__description {
          font-size: 0.875rem;
          line-height: 1.5rem;
          margin-bottom: 2.5rem;
        }
        .header__icon-box img {
      transform: scale(0.69);
      }
      
      }
      
      @media only screen and (max-width: 600px) {
        .overlay {
          padding: 1.5rem;
        }
      
        .overlay__btns {
          flex-wrap: wrap;
        }
      
        .overlay__btn {
          width: 100%;
          font-size: 0.75rem;
          margin-right: 0;
        }
      
        .overlay__btn:first-child {
          margin-bottom: 1rem;
        }
        .header__icon-box img {
      transform: scale(0.69);
      }
      }
      
      
      .header__icon-box img {
        border-radius: 50%;
        align-items: center;
        border: .2rem solid #224B5C;
        height: 60%;
        max-height: 13.2rem;
        background-color: #224B5C;
        margin-top: -1rem;
        animation: bounce-1 3s ease backwards 1s;
        margin-bottom: -5px;
      }
      @keyframes bounce-1 {
        0%   { transform: scale(1,1)    translateY(0);  opacity: 0; }
              10%  { transform: scale(1.1,.9) translateY(0);  opacity: 0.4;}
              30%  { transform: scale(.9,1.1) translateY(-50px); }
              50%  { transform: scale(0.95)    translateY(0); }
              100% { transform: scale(0.7)    translateY(0); }
          }
          /* 9 */
      .btn-9 {
        z-index: 2;
        transition: all 0.3s ease;
        overflow: hidden;
      }
      .btn-9:after {
        position: absolute;
        content: " ";
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
      }
      .btn-9:hover {
        /* box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.5),
          inset 4px 4px 6px 0 rgba(116, 125, 136, .3); */
        color: #fff;
        background: #224B5C;
        font-weight: 600;
      }
      .btn-9:hover:after {
        -webkit-transform: scale(2) rotate(180deg);
        transform: scale(2) rotate(180deg);
        background: #224B5C;
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
          inset -4px -4px 6px 0 rgba(255,255,255,.5),
          inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
      }
      .frame {
        width: 90%;
        margin: 40px auto;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-items: auto;
        justify-self: center;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both 1.7s;
      }
      button {
        margin-left: 10px;
        margin-top: -1rem;
        outline: none;
      }
      .custom-btn {
        max-width: 140px;
        max-height: 35px;
        padding: 10px 25px;
        border: 2px solid #224B5C;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 1000;
        background: transparent;
        cursor: pointer;
        transition: all 0.9s ease;
        position: relative;
        display: inline-block;
        font-size: 15px;
        text-align: center;
        border-radius: 40px;
        color:#224B5C;
      }
      .custom-btn-2 {
        max-width: 140px;
        max-height: 35px;
        padding: 10px 25px;
        border: 2px solid #224B5C;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        background: transparent;
        cursor: pointer;
        transition: all 0.9s ease;
        position: relative;
        display: inline-block;
        font-size: 15px;
        text-align: center;
        border-radius: 40px;
        color:#ffffff;
        background: #224B5C;
      }
      
      .btn-9-2 {
        z-index: 2;
        transition: all 0.3s ease;
        overflow: hidden;
      }
      .btn-9-2:after {
        position: absolute;
        content: " ";
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
      }
      .btn-9-2:hover {
        /* box-shadow:  4px 4px 6px 0 rgba(255, 255, 255, 0.267),
                    -4px -4px 6px 0 rgba(116, 125, 136, 0.11), 
          inset -4px -4px 6px 0 rgba(255, 255, 255, 0.185),
          inset 4px 4px 6px 0 rgba(116, 125, 136, 0.137); */
        color: #224B5C;
        background: rgba(255, 255, 255, 0);
        font-weight: 600;
      }
      .btn-9-2:hover:after {
        transform: scale(2) rotate(-180deg) ;
        background: rgba(255, 255, 255, 0);
        box-shadow:  4px 4px 6px 0 #224b5c98,
                    -4px -4px 6px 0 #224b5c96, 
          inset -4px -4px 6px 0 #224b5cab,
          inset 4px 4px 6px 0 #224b5c8f;
      }